<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>adcent one sibling</title>
        <style>
            div+p{
                background: red;
                color: blue;
            }
        </style>
    </head>
    <body>
        <h1 align="center"> adjecent one sibling</h1><hr>
        <div>
            <p>paragraph 1</p>
            <p>paragraph 2</p>
            <p>paragraph 3</p>
            <p>paragraph 4</p>
            <strong>
            <p>paragraph 5</p>
            <p>paragraph 6</p>
        </strong>
            <p>paragraph 7</p>
            <p>paragraph 8</p>
        </div>
        <p>paragraph 9</p>
        <p>paragraph 10</p>
    </body>
</html>